<!DOCTYPE html>
<html>
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
	    <title><%= title %></title>

    <style>
		body {
		  padding-top: 50px;
		}
		.starter-template {
		  padding: 40px 15px;
		  //text-align: center;
		}
    </style>

	</head>

  	<body>
  	<div class="container">
  		<div class="navbar navbar-default navbar-fixed-top">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <!--<a class="navbar-brand" href="/">Ryan Langford</a>-->
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/"><b>RAL</b></a></li>
	            <li><a href="/resume">Resume</a></li>
	            <li class="active"><a href="/bookmarks">Bookmarks</a></li>
	            <!--<li><a href="#contact">Contact</a></li>-->
	          </ul>
	          <!--<a class="navbar-brand pull-right" href="/">RAL</a>-->
	        </div><!--/.nav-collapse -->
	    </div><!--/.navbar -->
	 </div><!--/.container-->

	<div class="container">
		<div class="starter-template">
			<div class="jumbotron">
	        	<h1>Bookmarks Page</h1>
	        	<!--<p>Husband, DevOps Guy, Mountain Biker, Proud Bama Alum</p>-->
	          	<!--<a class="btn btn-lg btn-primary" href="/">Find out more &raquo;</a>-->
	      </div>
      	</div>
    </div><!-- /.container -->


	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>








